body {
    background-image: url("https://images3.alphacoders.com/240/240055.jpg");
    background-size: cover;
}

form{
    width: 300px;
    margin: 150px auto 0;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 15px;
    opacity: 0.93;
}
button{
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgba(3, 0, 0, 0.21);
    color: #000
}